:root {
  --dark-cerulean: #124e78;
  --maastricht-blue: #0b132b;
  --yankees-blue: #1C2541;
  --sea-serpent: #5bc0be;
  --aquamarine: #6fffe9;
  --react: #00d8ff;
}

.App {
  background: var(--sea-serpent);
  height: 100vh;
}

.App {
  display: grid;
  grid-template:
    'Header Header Header'
    'Input Input Input'
    'List List List'
    'footer footer footer'
    ;


  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 70px 50px auto 70px;

}

.Title {
  grid-area: Header;
  display: grid;
  justify-content: center;
}

.form{
  grid-area: Input;
  display: flex;
  justify-content: space-around;

}

.groceryList {
  display: grid;
  grid-area: List;
  
}
